    <p>Patient Name: <b>{{reportsData.patient_name}}</b></p>
    <p>Email: <b>{{reportsData.email}}</b></p>
    <p>Phone Number: <b>{{reportsData.phone}}</b></p>

    <p><h2>Tests Reports</h2></p>
    <table border=1>
        <tr>
            <th>Name</th>
            <th>{{ headers.day1|date('d-m-y')}}</th>
            <th>{{ headers.day2|date('d-m-y')}}</th>
            <th>{{ headers.day3|date('d-m-y')}}</th>
            <th>Referance</th>
            <th>Unit</th>
        </tr>
        {% for testReport in reportsData.test_reports %}
            <tr>
                <td>{{ testReport.name }}</td>
                <td>{{ testReport.day1.value }}</td>
                <td>{{ testReport.day2.value }}</td>
                <td>{{ testReport.day3.value }}</td>
                <td>{{ testReport.referenceValue }}</td>
                <td>{{ testReport.unit }}</td>
            </tr>
        {% endfor %}
    </table>

