{% extends 'PathologyBundle::operator_dashboard.html.twig' %}

{% block title %}Pathlogy Lab{% endblock %}

{% block body %}

    <p><h2>Tests Reports </h2></p>
    {% if reportsData.reports is null %}
      <p> No reports found </p>
      {% else %}
        <table border=1>
            <tr>
                <th>Created</th>
                <th>Operations</th>
            </tr>
            {% for report in reportsData.reports %}
                <tr>
                    <td>{{ report.created|date('d-m-y') }}</td>
                    <td><a href="/patient/{{reportsData.patient_id}}/reports/{{report.id}}/view">View</a>
                    <a href="/operator/patients/{{reportsData.patient_id}}/reports/{{report.id}}/edit">Edit</a>
                    <a href="/operator/patients/{{reportsData.patient_id}}/reports/{{report.id}}/delete">Delete</a>
                    <a href="/patient/{{reportsData.patient_id}}/reports/{{report.id}}/exportReportToPdf">Export To PDF</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
      {% endif %}

{% endblock %}
