{% extends 'PathologyBundle::operator_dashboard.html.twig' %}

{% block title %}List of Patients{% endblock %}

{% block body %}

    <table border=1>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Operations</th>
        </tr>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.fname }}</td>
                <td>{{ patient.lname }}</td>
                <td>{{ patient.username }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.phoneNumber }}</td>
                <td><a href="/operator/patients/{{patient.id}}/edit">Edit</a>
                    <a href="/operator/patients/{{patient.id}}/delete">Delete</a>
                    <a href="/operator/patients/{{patient.id}}/createReport">Create report</a>
                    <a href="/patient/{{patient.id}}/viewReports">View reports</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}



